
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

input{
    height: 2.5rem;
    width: 18rem;
    border: 0px solid ;
    border-radius: 5px;
    padding: 0rem 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0a3;
    color: #444252;
    font-weight: 400;
}
.login-container-two {
    width: 20rem;
}
label{
    color: darkgray ;
}
.login-background{
    display: flex;
    flex-direction: row;
    height: 100vh;
    border-radius: 20px;
}
.y{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 20rem;
}
.button-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.button button{
    width: 20rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 0px solid darkgray;
    color: white;
    cursor: pointer;
    background-color: #444252;
    font-family: "Montserrat", sans-serif;

}

.login-header img {
    display: block;
    object-fit: cover;
    height: 90vh;
    width: 92.5vh;
    
}
.login-header{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}
p{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #444252;
    margin: 0rem;
    font-weight: 600;
    
}
h3{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #444252;
    
}
.login-wrapper h1{
    color: darkgray;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-header{
    display: flex;
    flex-direction: column;
    flex: 1 1;
   
    
}
.login-wrapper{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* margin-left: 7rem; */
    justify-content: center;
}