@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.ProfilePageContainer{
    display: flex;
    height: 100vh;
}
.nameofadmin{
    font-family: "Montserrat", sans-serif !important;
    padding: 2rem;
    overflow-y: scroll;
}
p{
    font-family: "Montserrat", sans-serif !important;
}
.searchengine{
    padding: 0rem;
}
.css-y0u0hj{
    padding: 1rem 0rem !important;
}
.sidebar li{
    margin-top: 1rem;
}
.parent-Information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.useraccount{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.useradress{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
h1, h3, h4{
    color: gray;
}
.registration-container{
    display: flex;
    
}
.specificInfo{
    display: flex;
    flex-direction: column;
}
.userInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}
.partition{
    flex: 1;
}
input{
    width: 40%;
}
.register-body{
    display: flex;
}
.dbcwibc{
    flex: 1;
    padding: 2rem 4rem;
}
button{
    width: 12.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid darkgray;
    color: white;
    cursor: pointer;
    background-color: #444252;
    font-family: "Montserrat", sans-serif;

}
h3{
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
}

.MuiBox-root .css-1m3bo6 button{
    width: 2rem !important;
}
h5{
    font-family: "Montserrat", sans-serif !important;
}
h1{
    font-family: "Montserrat", sans-serif !important;
}
.main-cards{
    display: flex;
}
.card{
    flex: 1;
}

.sidebar .button button{
    margin-top: 2rem;
}

.MuiBox-root .css-d2znx6{
    display: flex;
    margin-top: 2rem;
    justify-content: center;

}