.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.admin-name{
    flex: 10;
    margin-top: 0.8rem;
    margin-left: 2rem;
}

.admin-btn{
    
    margin-top: 1rem;
    
}

.right-side{
    flex: 1 1;
    margin-right: 5rem;
}

.body-container{
    display: flex;
}

.other-pages{
    flex: 7;
    background-color: aliceblue;
}
.side-bar{
    flex: 1;
    text-align: center;
}
.ProfilePageContainer{
    display: flex;
    overflow: hidden;
}
.sidebar{
    flex: 1;
    height: 100vh;
    overflow-y: hidden;
    border: solid 1px;
    overflow: hidden;
    border-radius: 1rem;

}
.nameofadmin{
    flex: 5;
    display: flex;
    flex-direction: row;
}

.side-bar-container{
    font-family: 'EB Garamond', serif;
    font-size: medium;
    margin-top: 2rem;

}

.side-bar-container li{
    font-size: 1.2rem;
    list-style: none;
    text-align: start;
    padding: 1rem 5rem 1rem 4rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: gray;
}
.side-bar-container h2{
    list-style: none;
    text-align: start;
    padding: 1rem 4rem 1rem 3rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: gray;
}
.side-bar-container li:hover{
   background-color: aquamarine;
}
.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding:  0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    flex: 2;
    margin: 2rem 0rem 0rem 0rem;
    overflow: hidden;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    font-size: 1.25rem;
}
input:focus{
    outline: none;
}
#search-icon{
    color: royalblue;
}

.nameofadmin h1{
    flex: 1;
    margin: 2rem;
}
.searchengine{
    flex: 1;
}
.result-list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin: 2rem 0rem 0rem 0rem;
}